.App {
  text-align: center;
}

body {
  background-color: #FBFE29;
  font-family: Roboto, sans-serif;
  transition: 0.6s;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header i {
  font-size: 2rem;
}

main {
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 85vh;
  width: 100vw;
}

.col {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  transition: 0.6s;
}

.carousel {
  width: 100vw;
  text-align: center;
}

.carousel img {
  object-fit: cover;
  height: 450px;
  width: 450px;
}

main h3 {
  margin-top: -5rem;
  font-size: 2rem;
}

button {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.561);
  border: none;
  font-size: 4rem;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  color: rgb(19, 18, 26);
  font-size: 4.5rem;
}

.move-left {
  position: absolute;
  top: 40%;
  left: 5%;
}

.move-right {
  position: absolute;
  top: 40%;
  right: 5%;
}
