.App {
  text-align: center;
}

body {
  background-color: #FBFE29;
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header i {
  font-size: 2rem;
}

main {
  align-items: center;
  text-align: center;
}

main h3 {
  margin-top: -5rem;
  font-size: 2rem;
}

button {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.561);
  border: none;
  font-size: 4rem;
}

.move-left {
  position: absolute;
  top: 40%;
  left: 5%;
}

.move-right {
  position: absolute;
  top: 40%;
  right: 5%;
}
